# Ignorar outputs/datos pesados 
__pycache__/ 
*.pyc 
.ipynb_checkpoints/ 
data/** 
!data/README.md 
results/** 
!results/.gitkeep 
*.h5ad 
*.rds 
*.loom 
*.h5Seurat 
*.mtx 
*.fastq 
*.fastq.gz 
*.bam 
*.bai 
*.h5 
*.gz 
